﻿@model WebBlogMvcDotNetCore.Web.Models.CurrencyUserAndUserProfileModel

@{
    ViewData["Title"] = "Detail User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="tittle">Detail User</h3>

<div class="inner-sec">
    <div class="login p-5 bg-light mx-auto mw-100">

        <form asp-action="Detail" method="post">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">First Name : </label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="" required="" value="@Model.UserProfile.FirstName">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Last Name : </label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="" required="" value="@Model.UserProfile.LastName">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Email</label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="" required="" value="@Model.UserProfile.Email">

                </div>

                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Address</label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="" required="" value="@Model.UserProfile.Address">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">User Name : </label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="" required="" value="@Model.User.UserName">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Password : </label>
                    <input type="password" class="form-control" id="validationDefault01" placeholder="" required="" value="@Model.User.Password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary submit mb-4">Save Change</button>
           

        </form>
    </div>
</div>


