﻿@model WebBlogMvcDotNetCore.Web.Models.UserModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="tittle">Register Now</h3>
    <div class="inner-sec">
        <div class="login p-5 bg-light mx-auto mw-100">
            <form asp-action="Register" method="post" asp-controller="User">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01" asp-for="UserName">User Name</label>

                        <input type="text" class="form-control" id="validationDefault01" placeholder="" required="" asp-for="UserName" name="UserName">
                      
                    </div>
                  
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1 mb-2" asp-for="Password">Password</label>
                        <input type="password" class="form-control" id="password1" placeholder="" required="" asp-for="Password" name="Password">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword2 mb-2" asp-for="ConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" placeholder="" required="" asp-for="ConfirmPassword" name="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                <p>
                    <a href="#">By clicking Signup</a>
                </p>
            </form>

        </div>
    </div>
