﻿@model WebBlogMvcDotNetCore.Web.Models.UserModel
@using Microsoft.AspNetCore.Identity



@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h3 class="tittle">Sign In Now</h3>
@ViewBag.Error
    <div class="row inner-sec">
        <div class="login p-5 bg-light mx-auto mw-100">
            <form action="SignIn" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1 mb-2">User Name</label>
                    <input type="text" class="form-control" name="UserName" placeholder="" >
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1 mb-2">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="" name="Password">
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" asp-for=" RememberMe" name="RememberMe">
                    <label class="form-check-label" for="exampleCheck1" asp-for=" RememberMe" name="RememberMe">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
               <p> @Html.ActionLink("Don't have an account?","Register","User")</p>
            </form>
        </div>
    </div>



