﻿@model WebBlogMvcDotNetCore.Web.Models.UserProfileModel

@{
    ViewData["Title"] = " Create User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="tittle">User Profile</h3>

<div class="inner-sec">
    <div class="login p-5 bg-light mx-auto mw-100">

        <form asp-action="UserProfile" method="post">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">First name</label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="" required="" name="FirstName">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" class="form-control" id="validationDefault02" placeholder="" required="" name="LastName">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Email</label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="" name="Email">
                    <span asp-validation-for="Email"></span>
                   
                </div>
                
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Address</label>
                    <input type="text" class="form-control" id="validationDefault02" placeholder="" name="Address">
                </div>
            </div>
                <input name="IdUser" value="@Model.IdUser" hidden/>
            
            <button type="submit" class="btn btn-primary submit mb-4">Create</button>
            
        </form>
  </div>
</div>
