﻿@model IEnumerable< WebBlogMvcDotNetCore.Data.Article>
@{
    ViewData["Title"] = "Weblog a Blogging ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog-grid-top">
    <div class="b-grid-top">
        <div>
            <div class="blog_info_left_grid">
                <a href="single.html">

                    <img src="~/images/@Model.First().Picture" class="img-fluid" alt="" />
                </a>
            </div>
        </div>
        <div class="blog-info-middle">
            <ul>
                <li>
                    <a href="#">
                        <i class="far fa-calendar-alt"></i> @Model.First().DateCreate.ToString("dd/mm/yyyy")
                    </a>
                </li>
                <li class="mx-2">
                    <a href="#">
                        <i class="far fa-thumbs-up"></i> 201 Likes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-comment"></i> 15 Comment
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <h3>
        <a href="/Article/Detail/@Model.First().Id">@Model.First().Title </a>
    </h3>
    <p>
        @{
            string content = Model.First().Content;
            content = (content.Length > 300) ? content.Substring(content.Length - 300, 300) : content;
            @Html.Raw(content)
        }

    </p>
    <a href="/Article/Detail/@Model.First().Id" class="btn btn-primary read-m">Read More</a>
</div>
@*<!--//silder-->
<div class="blog-mid-sec">
    <ul id="flexiselDemo2">
        <li>
            <div class="blog-item">

                <img src="~/images/images-Layout/5.jpg" class="img-fluid" alt="" />
                <button type="button" class="btn btn-primary play sec" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-play"></i>
                </button>
                <div class="floods-text">
                    <h3>Lorem ipsum </h3>
                </div>
            </div>
        </li>
        <li>
            <div class="blog-item">

                <img src="~/images/images-Layout/6.jpg" class="img-fluid" alt="" />
                <button type="button" class="btn btn-primary play sec" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-play"></i>
                </button>
                <div class="floods-text">
                    <h3>Lorem ipsum </h3>
                </div>
            </div>
        </li>
        <li>
            <div class="blog-item">

                <img src="~/images/images-Layout/7.jpg" class="img-fluid" alt="" />
                <button type="button" class="btn btn-primary play sec" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-play"></i>
                </button>
                <div class="floods-text">
                    <h3>Lorem ipsum </h3>
                </div>
            </div>
        </li>
        <li>
            <div class="blog-item">

                <img src="~/images/images-Layout/8.jpg" class="img-fluid" alt="" />
                <button type="button" class="btn btn-primary play sec" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-play"></i>
                </button>
                <div class="floods-text">
                    <h3>Lorem ipsum </h3>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--//silder-->*@

<div class="blog-girds-sec">

    <div class="row">
        @foreach (var item in Model.Take(4))
        {
            <div class="col-md-6 blog-grid-top">
                <div class="b-grid-top">
                    <div class="blog_info_left_grid">
                        <a href="/Article/Detail/@item.Id">

                            <img src="~/images/@item.Picture" class="img-fluid" alt="" />
                        </a>
                    </div>
                    <h3>
                        <a href="/Article/Detail/@item.Id">@item.Title </a>
                    </h3>
                    @*<p>
                        @{
                            string text = item.Content;
                            text = (text.Length > 20) ? text.Substring(text.Length - 100, 25) : text;
                            @Html.Raw(text)
                        }

                        Html.Raw(item.Content);
                    </p>*@
                </div>
                <ul class="blog-icons">
                    <li>
                        <a href="#">
                            <i class="far fa-clock"></i> @item.DateCreate.ToString("dd/mm/yyyy")
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="#">
                            <i class="far fa-comment"></i> 21
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-eye"></i> 2000
                        </a>
                    </li>

                </ul>
            </div>
            @*<div class="col-md-6 blog-grid-top">
                    <div class="b-grid-top">
                        <div class="blog_info_left_grid">
                            <a href="single.html">

                                <img src="~/images/images-Layout/b3.jpg" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <h3>
                            <a href="single.html">Amet adipisicing </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt aliqua uta enim.</p>

                    </div>
                    <ul class="blog-icons">
                        <li>
                            <a href="#">
                                <i class="far fa-clock"></i> 5 Monts
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <i class="far fa-comment"></i> 21
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-eye"></i> 2000
                            </a>
                        </li>

                    </ul>
                </div>*@
                            }
    </div>

</div>
