﻿@model IEnumerable<WebBlogMvcDotNetCore.Data.Article>



@foreach ( var article in Model)
{
<div class="blog-grids row mb-3">
    <div class="col-md-5 blog-grid-left">
        <a href="/Article/Detail/@article.Id">

            <img src="~/images/@article.Picture" class="img-fluid" alt="" />
        </a>
    </div>
    <div class="col-md-7 blog-grid-right">

        <h5>
            <a href=""/Article/Detail/@article.Id">@article.Title </a>
        </h5>
        <div class="sub-meta">
            <span>
                <i class="far fa-clock"></i> @article.DateCreate.ToString("dd/mm/yyyy")
            </span>
        </div>
    </div>
</div>
}