﻿
@model WebBlogMvcDotNetCore.Web.Models.CurrencyArticleAndComment


@{
    ViewData["Title"] = "Detail Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
    <div class="blog-grid-top">
        <div class="b-grid-top">
          
        </div>

        <h2 style="text-align:center;">
            <a href="single.html">@Model.article.Title</a>
        </h2>
        <p>
           @Html.Raw(Model.article.Content)
        </p>
      
    </div>
@foreach (var item in Model.comments.Take(3))
{
    <div class="comment-top">
        <h4>Comments</h4>
        <div class="media">
            <img src="~/images/images-Layout/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h5 class="mt-0">@item.Fullname</h5>
                <p style="word-wrap:break-word;">
                   @item.DetailComment
                </p>

                @*<div class="media mt-3">
                    <a class="d-flex pr-3" href="#">
                        <img src="images/t2.jpg" alt="" class="img-fluid" />
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">Richard Spark</h5>
                        <p>
                            Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
                            Cras a ornare elit.
                        </p>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
}
    <div class="comment-top">
        <h4>Leave a Comment</h4>
        <div class="comment-bottom">
            <form action="Detail" method="post" controller="Article">
                <input type="text" class="form-control" id="validationDefault01" placeholder="Full Name" required="" name="FullName">
                @*<input class="form-control" type="email" name="Email" placeholder="Email" required="">*@

                @*<input class="form-control" type="text" name="Subject" placeholder="Content" required="">*@

                <textarea class="form-control" name="DetailComment" placeholder="Message..." required=""></textarea>
                <input name="DateCreate" value="@DateTime.Now.Date" hidden type="text"/>
                <input name="IdArticle" value="@Model.article.Id" hidden type="text" />
               
                <button type="submit" class="btn btn-primary submit">Submit</button>
            </form>
        </div>
    </div>
</div>

