﻿@model WebBlogMvcDotNetCore.Web.Models.ArticleModel
@{
    ViewData["Title"] = "Post Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Include external CSS. -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

<!-- Include Editor style. -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
<script src="~/ckeditor/ckeditor.js"></script>

<h3 class="tittle">Post Article</h3>
@ViewBag.Error
<div class="inner-sec">
    <div class="login p-5 bg-light mx-auto mw-100">
        <form asp-action="Post" method="post" asp-controller="Article" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01" asp-for="Title"><strong>Title</strong></label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="" required="" name="Title">

                </div>

            </div>
            @*<div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01" asp-for="Picture"><strong>Picture</strong></label>
                        <input type="text" asp-for="Picture" name="Picture" />
                    </div>
                
            </div>*@
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01" asp-for="Content"><strong>Content</strong></label>
                    <textarea name="Content" id="edit" asp-for="Content">
                        Text
                    </textarea>
                </div>
            </div>

                <input name="DateCreate" value="@DateTime.Now.Date" hidden />
                <input name="IdUserProfile" value="@TempData["IdUserProfile"]" hidden />

                <button type="submit" class="btn btn-primary submit mb-4">Post</button>
</form>
        @*<script>
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('editor1');
            $("#input-id").fileinput();

            // with plugin options
            $("#input-id").fileinput({ 'showUpload': false, 'previewFileType': 'any' });


        </script>*@


       
    </div>
</div>

@section Scripts{ 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
<script>
         $(function () {
             $('#edit').froalaEditor({
                 // Set the image upload URL.
                 imageUploadURL: '/UploadFiles',

                 imageUploadParams: {
                     id: 'my_editor'
                 }
             })
                 .on('froalaEditor.file.beforeUpload', function (e, editor, files) {
                     // Return false if you want to stop the file upload.
                     console.log("123")
                 })
                 .on('froalaEditor.file.uploaded', function (e, editor, response) {
                     console.log("1223")
                     // File was uploaded to the server.
                 })
                 .on('froalaEditor.file.inserted', function (e, editor, $file, response) {
                     // File was inserted in the editor.
                     console.log("1233")
                 })
         });
</script>
}