﻿@model IEnumerable<WebBlogMvcDotNetCore.Data.Comment>


@foreach (var comment in Model)
{
    <div class="blog-grids row mb-3">
        <div class="col-md-5 blog-grid-left">
            <a href="/Article/Detail/@comment.IdArticle">

                <img src="~/images/images-Layout/t1.jpg" class="img-fluid" alt="" />

            </a>
        </div>
        <div class="col-md-7 blog-grid-right">

            <h5>
                <p> Name: @comment.Fullname</p>
                @{
                    string cmt = @comment.DetailComment;
                    cmt = (cmt.Length > 20) ? cmt.Substring(cmt.Length - 10, 10) : cmt;
                    <a href="single.html">@cmt</a>
                }
                   
                
                
            </h5>
            <div class="sub-meta">
                <span>
                    <i class="far fa-clock"></i> @comment.DateCreate.ToString("dd/mm/yyyy")
                </span>
            </div>
        </div>
    </div>
}